[2021-07-29 05:15] ananzh opened #1 "Fork elasticsearch-js milestones and tasks"
We decide to fork [@elastic/elasticsearch-js](https://github.com/elastic/elasticsearch-js) client library which is open source, licensed under Apache License 2.0 to avoid any inconvenience for users due to the new product-checking logic. Due to this product-checking, new versions clients will get reject connections to any open source distribution or fork of Elasticsearch, including:

* All 1.x ver

[2021-08-20 19:21] boktorbb-amzn opened #158 "Update client package name"
Currently the name used is `@opensearch-project/opensearch`. We will need to update the name when it is finalized

[2021-08-31 16:14] stockholmux opened #168 "[BUG] README shows NPM install. Package is not in NPM yet"
**What is the bug?**

The README says you can run:
[code]

This yields: ` '@opensearch/opensearch@*' is not in the npm registry.`

While this is likely a temporary problem those stumbling upon the repo shouldn't be lead astray.

**What is the expected behavior?**
The README should not list `npm install` if the package isn't (yet) in the registry.

**Do you have any screenshots?**
<img width="562"

[2021-08-31 22:07] #168 closed

[2021-09-20 21:06] ananzh commented on #1
done all the milestones. close this track task.

[2021-09-20 21:06] #1 closed

[2021-09-20 21:07] ananzh commented on #158
updated in [PR#172 ](https://github.com/opensearch-project/opensearch-js/pull/172)

[2021-09-20 21:08] #158 closed

[2021-09-27 11:16] oliversalzburg commented on #168
May I ask why the package isn't being published? Consuming packages from git is less than ideal.

[2021-09-27 18:37] stockholmux commented on #168
@oliversalzburg It's in process. It'll be in NPM soon.

[2021-09-30 17:20] peternied opened #180 "Ensure DCO Workflow Check"
Coming from https://github.com/opensearch-project/project-meta/issues/17

A Developer Certificate of Origin is required on commits in the OpenSearch-Project.

See [doc.yml](https://github.com/opensearch-project/.github/blob/main/workflow/dco.yml) for an example workflow.  Ensure CONTRIBUTING.md to has a section on the DCO per the [project template](https://github.com/opensearch-project/.github/blo

[2021-09-30 20:27] kavilla opened #181 "[BUG] OpenSearchDashboardsClient missing"
**What is the bug?**
OpenSearchDashboardsClient was accidentally removed in this [commit](
https://github.com/opensearch-project/opensearch-js/commit/c56751acae73f4735bf7efa3ddf1abc378c2e1a6), should have been renamed from KibanaClient to OpenSearchDashboardsClient.

**How can one reproduce the bug?**
Steps to reproduce the behavior:
1. install opensearch-project/opensearch
2.  try to import OpenS

[2021-10-05 07:03] #180 closed

[2021-10-06 16:27] #181 closed

[2021-10-14 15:09] clenkiu opened #186 "[FEATURE] SAML authentication"
The OpenSearch JavaScript client only supports basic authentication on its implementation.
It is not possible to use the library authenticating users with SSO, using SAML authentication.

This is, by example, implemented in the ElasticSearch nodejs client version 7.14 and above, as described here:.
https://www.elastic.co/guide/en/elasticsearch/client/javascript-api/current/api-reference.html#_secu

[2021-10-21 19:08] aetter opened #187 "[FEATURE] Add IAM authentication option"
If people want to connect to an Amazon OpenSearch Service cluster, they have to figure out how to use this client alongside some third-party signing library and/or the AWS SDK, which is non-trivial due to how we (by design) conceal the underlying HTTP requests that the client makes. We should offer IAM signing as an option, just like the OpenSearch CLI does.

**Is your feature request related to a

[2021-11-02 02:35] van-vothanh commented on #187
have you tried this approach https://docs.aws.amazon.com/opensearch-service/latest/developerguide/request-signing.html#request-signing-node?

[2021-11-03 19:13] setiah opened #621 "How to setup https/ssl with nodejs client"
Creating this on behalf of a user facing issues setting up the nodejs client to communicate with security enabled OpenSearch cluster setup via docker.

[2021-11-04 21:21] jsinai opened #188 "[FEATURE] Support the scroll API"
It would be convenient if the JavaScript client supports the Scroll API, similar to the Elastic client:

https://www.elastic.co/guide/en/elasticsearch/client/javascript-api/current/api-reference.html#_scroll

At present, we have to use separate code for API calls not supported by the client.

[2021-11-04 21:25] jsinai opened #189 "[FEATURE] Support datastreams"
It would be convenient if the JavaScript client supports data streams, similar to the Elastic client:

https://www.elastic.co/guide/en/elasticsearch/client/javascript-api/current/api-reference.html#_indices_createdatastream

At present, we have to use separate code for API calls not supported by the client.

[2021-11-04 21:28] jsinai opened #190 "[FEATURE] Support lifecycle management"
It would be convenient if the JavaScript client supports lifecycle methods, similar to the Elastic client:

https://www.elastic.co/guide/en/elasticsearch/client/javascript-api/current/api-reference.html#_ilm_putlifecycle

At present, we have to use separate code for API calls not supported by the client.

[2021-11-15 22:50] abagnani opened #192 "[BUG] DeserializationError: Unexpected token u in JSON at position 0"
**Error:**
I found this bug while using the `client.helpers.bulk` helper function. When sending a batch of records into the function I was met with the following error: `DeserializationError: Unexpected token u in JSON at position 0`.

**Code:**
I was able to reproduce my error in the following script using a basic mock client and a simple batch of records as input.
[code]
The output of this scrip

[2021-11-17 16:51] Ghazgkull commented on #187
Until OpenSearch adds authentication support for hosted offerings like AWS OpenSearch, is there a workaround available for users of those hosted offerings? I'm confused about the current situation... how is anyone using the OpenSearch JS client today, without support for authentication?

[2021-11-18 18:56] rawpixel-vincent commented on #187
until the role authentication is supported, we're stuck into the latest supported version of elasticsearch with the latest elasticsearch node.js client compatible with a library that wrap that client to sign the requests.
we're looking forward to get this support so we can upgrade to opensearch 1.0

[2021-11-18 19:24] rawpixel-vincent commented on #187
I think it should take around 1 day to get it done and hopefully around 2 weeks to fix/review/release it? that would be amazing and aws customers could put all the pain behind and enjoy an amazing truly open source service, what do you think?

[2021-11-18 20:59] ananzh opened #193 "[BUG] opensearch dashboards integration test fail"
Opensearch dashboards without security integration test fail due to connection issue:

[code]

[2021-11-22 19:03] ChristopheBougere commented on #187
This is an important feature for us as well, I hope this will be implemented soon 🙏

[2021-11-30 20:10] shashank-sachan opened #198 "opesearch NPM connection issue on high load with AWS opensearch"
**Describe the bug**
We are trying to replace the elasticsearch NPM with opensearch NPM in our project (using AWS opensearch 1.0 cluster).
We are connecting to AWS opensearch from AWS lambda.
Now in case of high load we start getting _ConnectionError: getaddrinfo EMFILE_ error.

[code]

If I put elasticsearch NPM back then it works fine.
By looking at the error, it looks like that there is host re

[2021-12-07 23:07] boktorbb-amzn opened #199 "[Node 14] Upgrade opensearch-js client to Node 14"
Need to upgrade opensearch-js to Node v14.18.1 to match the OpenSearch Dashboards Node upgrade

[2021-12-13 09:49] kavilla opened #200 "[RELEASE] opensearch-js 1.0.2"
Release opensearch-js 1.0.2 to NPM here: https://www.npmjs.com/package/@opensearch-project/opensearch

[2021-12-15 19:05] #193 closed

[2021-12-15 23:44] kavilla commented on #200
https://www.npmjs.com/package/@opensearch-project/opensearch/v/1.0.2

[2021-12-15 23:44] #200 closed

[2022-01-19 20:22] yilintao-amzn opened #202 "[FEATURE] Implement Circuit Breaker in Opensearch-js client"
**Is your feature request related to a problem?**
Yes. When customer's query response is quite large, the opensearch-dashboard could have JS run out of heap issue.

**What solution would you like?**
Implement a circuit breaker in the opensearch-js client to detect the size of the return response data. If the size exceeds the threshold, it will trigger the circuit breaker.

**What alternatives have

[2022-01-28 18:57] ananzh opened #204 "Redirect types in package.json to api/new.d.ts"
Currently, in package.json, types is still using index.d.ts.
[code]
However, the api types have been updated and the new types are api/new.d.ts. Therefore, we need either change `types` in package.json or copy api/new.d.ts to index.d.ts

[2022-02-04 20:28] fidian opened #205 "[BUG]"
**What is the bug?**
When using the library with Node v16.13.2 displays a warning message about deprecated syntax in `package.json`.

**How can one reproduce the bug?**
Use Node 16 and import the module. Run the command from the command-line.

**What is the expected behavior?**
No warnings.

**What is your host/environment?**
 - OS: Ubuntu Linux
 - Version: 20.10

**Related issues**
See also: http

[2022-02-09 15:17] stockholmux commented on #205
@fidian So, you think this might be due to having both ES and OpenSearch clients in the same project?

[2022-03-03 03:34] ananzh opened #206 "[BUG] opensearchtypes is not consistent with our CamelCase naming convention"
**What is the bug?**
When we fork elasticsearch-js, we followed the same naming rules as we fork opensearch and opensearch-dashboards. So `es` is changed to `opensearch`.

[code]

However `opensearchtypes` is not consistent with our CamelCase naming convention in osd.

**What is the expected behavior?**
1) Change `opensearchtypes` [here](https://github.com/opensearch-project/opensearch-js/blob/68e

[2022-03-05 00:55] alexsasharegan commented on #187
I've been trying to extend the `Connection` and/or `Transport` classes to support signing, but when you need to work with the v3 aws sdk, they have all the new credentials resolvers and signers that are promise-based. Hooking into the `Connection#makeRequest` and `Transport#request` means running into the fundamentally synchronous API. I can think of a few ways past this, but not without breaking

[2022-03-05 02:25] alexsasharegan commented on #187
A follow up to [my previous comment](https://github.com/opensearch-project/opensearch-js/issues/187#issuecomment-1059631576), because the `Connection.request` method synchronously returns a mere _Abortable_ (just an interface with an abort method to cancel the request), I found I use an `AbortController` and queue up all the asynchronous signing work along with the rest of request procedure. Becau

[2022-03-19 14:31] huuyafwww opened #209 "[FEATURE] helpers.bulk support script update"
**Is your feature request related to a problem?**
We are currently using AWS OpenSearch for a project in our business.
And, to our delight, a lot of data is now stored.
However, recently I am getting 429 errors returned when creating, updating, or deleting documents using the client.bulk method.
We have tried to use client.helpers.bulk to prevent this as much as possible.
However, we found that up

[2022-03-22 14:28] huuyafwww opened #211 "[BUG] Not enough type definitions for arguments passed to onDrop in helpers.bulk"
**What is the bug?**
The current "onDrop" available in the helpers.bulk method is implemented so that the failed action can be retrieved by "operation" and "document" passed to the callback function, but the type definition of "[operation](https://github.com/opensearch-project/opensearch-js/blob/main/lib/Helpers.js#L689)" is missing. It cannot be referenced by programs on TypeScript.

**How can on

[2022-03-22 17:38] #202 closed

[2022-03-22 19:11] rawpixel-vincent commented on #187
are we gonna be left with an unsupported version of elasticsearch before aws implement a client for their fork of opensearch no customer either asked about?

that's a real question from a customer

[2022-03-23 20:11] #211 closed

[2022-03-23 21:59] VachaShah opened #214 "Test and publish compatibility matrix with various OpenSearch versions"
Add support to run integration tests across various versions of OpenSearch and publish a compatibility matrix for the client version vs OpenSearch version.

PR Reference: https://github.com/opensearch-project/opensearch-java/pull/122
Compatibility: https://github.com/opensearch-project/opensearch-java/blob/main/COMPATIBILITY.md

[2022-04-01 11:00] yatanasov commented on #187
any update on this please?

[2022-04-01 17:04] lizsnyder commented on #187
@Shivamdhar any idea if this is on the roadmap, similar to https://github.com/opensearch-project/opensearch-py#using-iam-credentials-for-authentication?

[2022-04-01 19:36] VachaShah opened #217 "Breaking changes for 2.0"
Get started with incorporating the breaking changes for 2.0 from OpenSearch 2.0.

To do so:
1. Branch off a 1.x from main if not already done so that development for 2.0 can start on main.
2. Incorporate breaking changes as mentioned in https://github.com/opensearch-project/opensearch-clients/issues/12.
3. Add integ tests support to run against unreleased OpenSearch.

Example PR from java-client:

[2022-04-01 22:47] Shivamdhar commented on #187
I do not have much information about this one, but may be @ananzh can help us here.

[2022-04-05 14:59] brijos commented on #187
The team does not have the bandwidth to commit to the supporting IAM in OpenSearch JS client in the next few months. Does anyone has the capacity to assist?

Below are a two work arounds proposed by engineers to work in the meantime:

1. Use a proxy to do the signing. One can setup a proxy server which can sign the request and then forward the request to AWS OpenSearch domain. One available proxy

[2022-04-05 21:43] VachaShah opened #218 "Add auto backport functionality"
Coming from meta issue https://github.com/opensearch-project/opensearch-clients/issues/14:

- [ ] Add auto-backport PR creation Github action to make sure all the PRs are backported for a particular release.
- [ ] Add auto-delete for merged auto-backport PRs to clean up the branches created during auto-backport.
- [ ] Add documentation for the same.

[2022-04-05 21:48] kavilla commented on #218
@VachaShah, can we get a secrets added this repo as well to support this functionality?

[2022-04-05 21:52] VachaShah commented on #218
@kavilla Done, added the secrets.

[2022-04-11 19:09] #199 closed

[2022-04-11 19:10] ananzh commented on #199
opensearch-js is hooked up to OSD 2.0.
close this issue.

[2022-04-20 16:26] AlexMabry commented on #187
I was able to get it working using the following code:

[code]

[2022-04-20 22:13] dblock commented on #187
@AlexMabry Nice! Care to contribute this to the docs at least? I still think we need native options in the client, but it looks a lot simpler to implement using @aws-sdk/credential-provider-node. PRs welcome.

[2022-04-21 01:11] ananzh opened #221 "Deprecate the "Master" nomenclature in nodejs client"
Is your feature request related to a problem? Please describe.
Coming from https://github.com/opensearch-project/OpenSearch/issues/2589.

[OpenSearch](https://github.com/opensearch-project/OpenSearch) repository is going to replace the terminology "master"with "cluster manager".
issue: https://github.com/opensearch-project/OpenSearch/issues/472#issuecomment-960298995, with the plan for its termino

[2022-04-21 01:53] ananzh commented on #221
**Affected API**

Multiple APIs are affected directly/indirectly (params & types)

* **Cat API is affected directly. Cat API can be used to cat master node**
index.d.ts: https://github.com/opensearch-project/opensearch-js/blob/2b1b3874fc08c16c4972d91a6ba5d353c30104b1/index.d.ts#L190
new.d.ts:
https://github.com/opensearch-project/opensearch-js/blob/c56751acae73f4735bf7efa3ddf1abc378c2e1a6/api/new.

[2022-04-21 01:53] ananzh commented on #221
**Affected Tests**
***MASTER/master key in Connect roles or cluster node roles, for example:**
https://github.com/opensearch-project/opensearch-js/blob/c56751acae73f4735bf7efa3ddf1abc378c2e1a6/test/utils/buildCluster.js#L76
https://github.com/opensearch-project/opensearch-js/blob/c56751acae73f4735bf7efa3ddf1abc378c2e1a6/test/types/connection.test-d.ts#L44

***Affect Mock**
https://github.com/opens

[2022-04-21 15:56] ananzh opened #223 "Change the "Blacklist / Whitelist" nomenclature in nodejs client"
[OpenSearch](https://github.com/opensearch-project/OpenSearch) repository is going to replace the terminology "blacklist / whitelist" with "denylist / allowlist".
issue: https://github.com/opensearch-project/OpenSearch/issues/1483, with the plan for its terminology replacement.

Although the existing usages with "master" will be supported in OpenSearch version 2.x to keep the backwards compatibili

[2022-04-21 16:03] ananzh commented on #223
**Whitelist**

**Data:**/test/fixtures/stackoverflow.ndjson (1 mention)

[2022-04-21 21:34] AlexMabry commented on #187
Here is another solution that doesn't require the `aws-opensearch-connector` package.

`aws-connector.ts`
[code]

`os-client.ts`
[code]

[2022-04-21 21:35] AlexMabry commented on #187
Do you mean update the README or some other documentation?

[2022-04-21 21:43] lizsnyder commented on #187
I am working on testing them and plan to add them here https://docs.aws.amazon.com/opensearch-service/latest/developerguide/request-signing.html#request-signing-node

@AlexMabry you're more than welcome to contribute yourself, if you have time https://github.com/awsdocs/amazon-opensearch-service-developer-guide/blob/master/doc_source/request-signing.md

[2022-04-22 10:21] sanket-dev opened #225 "[BUG] Not able to query to the sql plugin using the js client"
I am trying to query the data using the SQL plugin but getting 400 bad request errors. Is it possible to query using SQL?

While setting my client I was using SQL plugin URL like below
`https://admin:admin@open_search_server_host_name/_plugins/_sql`

[code]
Is there any documentation around the search method signature?

From the Dashboard Dev Tool I can query data successfully using SQL, please fi

[2022-04-22 13:10] AlexMabry commented on #187
I am actually using TypeScript in my Node project, but here is a JavaScript version of the aws-connector file from above:

[code]

[2022-04-25 06:41] sanket-dev commented on #225
The found solution here - https://discuss.opendistrocommunity.dev/t/nodejs-opensearch-client-how-to-usesql/7682/2

[2022-04-25 06:41] #225 closed

[2022-04-25 22:06] lizsnyder commented on #187
Thanks a lot @AlexMabry. I tested these out, simplified them a bit, and added them to the AWS docs: https://docs.aws.amazon.com/opensearch-service/latest/developerguide/request-signing.html#request-signing-node

[2022-04-27 17:20] #218 closed

[2022-05-02 04:18] huuyafwww opened #231 "[BUG] Program terminates when the status code in the response to an API request is 429."
**What is the bug?**
Exit when an error occurs in the response to an API request.

**How can one reproduce the bug?**
Steps to reproduce the behavior:
When OpenSearch is under heavy load, make search and bulk requests and have them respond with a 429 error.

**What is the expected behavior?**
Escalate errors to programs that use this library without terminating the program.
The reason is that [ret

[2022-05-02 06:21] huuyafwww commented on #231
I'm sorry.
It was my lack of confirmation.
I was verifying client.bulk, not client.helpers.bulk.

[2022-05-02 06:21] #231 closed

[2022-05-02 21:24] jnith commented on #198
Hi! Is there an update on how this issue was resolved? I'm facing the same error with OpensSearch host

[2022-05-02 22:44] saachinsiva commented on #187
We recently migrated our domain from AWS ElasticSearch to AWS Opensearch and our applications have been using internal users created in ES. We created the same users in Opensearch however we cannot connect to the domain from our NodeJS code and are getting 403 error. From this thread I understand that I need to sign the request but not sure how to do that when the domain is enabled with internal u

[2022-05-03 15:54] dblock commented on #198
@jnith @shashank-sachan it sounds like opensearch-js is causing the system to run out of file descriptors

What's your output from `ulimit -a`? Generally this is 1024. There's a bunch of articles on how to increase it ([example](https://www.tecmint.com/increase-set-open-file-limits-in-linux/)), I would try that as a workaround.

If you can reproduce this consistently, let's see the output of `lsof

[2022-05-03 16:25] jnith commented on #198
Yes thanks for the details. I was able to figure out that the issue was causing because each update request to openSearch is creating a new connection and I was creating 1000s of connection. I was able to overcome the issue with the Bulk update feature and hence limiting the number of connections.

[2022-05-03 16:36] shashank-sachan commented on #198
@dblock I'm using this inside AWS lambda so I don't have control over ulimit.
But elasticsearch-js was not causing this issue so may be we need to the optimization in this library.

[2022-05-06 22:13] dblock commented on #198
@shashank-sachan Which version of elasticsearch-js were you using? Need to track down the diff (help wanted). Either way sounds like we're creating some unbounded number of connections, which should be replaced by a pool.

[2022-05-10 10:28] moltar commented on #187
@lizsnyder thanks for the final solution docs addition!

Btw, SDK v3, has the signing package as well, which can be used instead of the unofficial `aws4` package:

https://github.com/aws/aws-sdk-js-v3/tree/main/packages/signature-v4

It's not documented, unfortunately, but you can find use cases this way:

https://github.com/aws/aws-sdk-js-v3/search?l=TypeScript&q=%22signature-v4%22&type=code

[2022-05-10 11:14] moltar commented on #187
Oh, I think I understand the problem better now, the SDK v3 package signing interface is async (returning Promise) which is incompatible with the Connector interface. :(

[2022-05-10 14:03] alexsasharegan commented on #187
That's what I was getting at here: https://github.com/opensearch-project/opensearch-js/issues/187#issuecomment-1059654999

[2022-05-10 18:23] VachaShah commented on #214
Closed via #228

[2022-05-10 18:23] #214 closed

[2022-05-11 23:12] ChristopherGillis commented on #187
I'm trying @AlexMabry 's solution, but seeing this error:
[code]
I'm not sure why opensearch is looking for basic auth properties when I'm passing a connection... Is there something else I need to pass to get it to not look for basic auth?

[2022-05-11 23:24] ChristopherGillis commented on #187
Ahh, nvm. I wasn't passing a string as a "node".

[2022-05-12 00:08] ChristopherGillis commented on #187
I'm still getting 403. Is there anything I need to configure on my cluster to allow this? (IAM instead of basic auth)

[2022-05-20 16:15] #223 closed

[2022-05-20 16:18] ananzh opened #240 "[eslint] duplicate conditions in indices and nodes API"
**What is the bug?**
eslint shows two APIs have duplicate conditions.

[code]

**How can one reproduce the bug?**
**After eslint PR is merged**
1. Go to '.eslintrc.json'
2. Remove ' "no-dupe-else-if": "off"'
3. Run `yarn lint`
4. See error

**What is the expected behavior?**
Research on this
Remove duplicate conditions

[2022-05-20 16:23] ananzh opened #241 "[eslint] remove non used vars"
**What is the issue?**
There are 272 non used vars in the code .
They could not be cleaned by running `yarn lint --fix` or `npx lint -- --fix"

[code]

**How can one reproduce the bug?**
**After eslint PR is merged**
Go to '.eslintrc.json'
Remove ' "no-dupe-else-if": "off"'
Run yarn lint
See error

**What is the expected behavior?**
clean out

[2022-05-20 21:03] ananzh commented on #240
duplication:
https://github.com/opensearch-project/opensearch-js/blob/5328c314608dda8d783799d32be3fe927ae1e935/api/api/nodes.js#L116-L131

[2022-05-23 14:52] ananzh opened #243 "[PROPOSAL] format opensearch-js code base via eslint+prettier"
## What kind of business use case are you trying to solve? What are your requirements?
Currently, opensearch-js uses Standard JS as lint check.  But it seems not work very well. For example, it misses eslint:no-dupe-else-if and  eslint:no-unused-vars and some trivial formats. More research: I checked standard rules [here](https://github.com/standard/standard/blob/16.x/RULES.md) . In 16.x (can’t fi

[2022-05-23 21:22] kavilla opened #244 "Release NPM Package 2.0"
Release 2.0 to NPM.

[2022-05-23 21:32] VachaShah commented on #217
Closed via #233

[2022-05-23 21:32] #217 closed

[2022-05-23 22:30] VachaShah opened #245 "Release version 2.0.0 for JS client"
Release the client version 2.0.0. Before releasing, the following items need to be done:

- [x] Add OpenSearch 2.0 to the integration [test matrix](https://github.com/opensearch-project/opensearch-js/blob/main/.github/workflows/compatibility.yml#L12).
- [x] Bump the client version to 2.0.0.
- [x] Cut a 2.0 branch for the client.

[2022-05-24 21:12] ananzh opened #247 "[Clean] remove npm in workflows"
Since we are using yarn, we should make consistency by switching npm to yarn. No need for two package managers in one single project.

[2022-05-24 21:52] #243 closed

[2022-05-25 21:27] MattReimer commented on #187
with @AlexMabry 's solution I'm getting:

[code]

[2022-06-01 21:23] ananzh commented on #245
get 2.0.0 published.
close this issue.

[2022-06-01 21:23] #245 closed

[2022-06-02 18:07] #244 closed

[2022-06-06 14:50] paulthemagno opened #250 "Authentication with Node client using STS"
I'm following this [guide](https://docs.aws.amazon.com/opensearch-service/latest/developerguide/request-signing.html) to make queries on an OpenSearch index.

While the script suggested on the [Python tab](https://docs.aws.amazon.com/opensearch-service/latest/developerguide/request-signing.html#request-signing-python) works for me, I can't authenticate myself with [Node one](https://docs.aws.amazo

[2022-06-08 22:11] driley-abbvie commented on #250
im seeing this issue as well

[2022-06-09 00:53] zhaoyi0113 opened #251 "Which API is used for update a document in nodejs?"
I am using `.index` method to insert a document to index. But I can't find which method can be used to update an existing document.
I can only find a REST API in opensearch document but where I can find the document about this nodejs library.

[code]

[2022-06-09 14:13] paulthemagno commented on #250
I solved by declaring `credentials` as

[code]

[2022-06-09 14:13] #250 closed

[2022-06-09 20:37] VachaShah opened #252 "[FEATURE] Add support for AWS Sigv4 request signer"
Add support for signed requests via AWS sigv4.

[2022-06-14 00:27] alexrayan opened #253 "[BUG] "Cannot read property 'then' of null" in Transport.js"
**What is the bug?**
response TypeError: Cannot read property 'then' of null
    at Object.then (@opensearch-project/opensearch/lib/Transport.js:185:18)
    at processTicksAndRejections (internal/process/task_queues.js:95:5)

The same issue has been reported and fixed in the elasticsearch official client here:
https://github.com/elastic/elasticsearch-js/issues/1521

[2022-06-14 01:23] alexrayan commented on #253
I'm be happy to submit a PR with the same fix that has been implemented in the elastic/elasticsearch-js client.

[2022-06-16 19:11] rogueturnip opened #256 "[BUG]"
Hi, I'm experiencing some interoperablity issues with other AWS services in the same AWS Lambda that I'm using to connect to my Amazon Opensearch cluster.  Below is the code that I'm using to connect and test with.

You'll see I'm throwing an error to test the catch that will send an SNS message (reportError is just an SNS Publish).  With no errors it runs fine and I get my ping response back.  If

[2022-06-16 21:37] #256 closed

[2022-06-16 21:37] rogueturnip commented on #256
I think I found the issue.  Likely related to VPC configuration.

[2022-06-17 19:36] ananzh commented on #253
Hi @alexrayan thanks for reporting and fixing the issue. Our client is forked from 7.14 but we do remove some changes between 7.10-7.14. I am trying to reproduce this issue using [this example ](https://github.com/elastic/elasticsearch-js/issues/1521#issuecomment-900045628):

[code]

Here is the response

[code]

I don't see any issues. Meanwhile, I only loaded your unit test and expect to see som

[2022-06-23 00:53] joshuarrrr opened #258 "[CVE] Bump `tsd` to `0.21.0` to remove dependency on `got`"
From https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1764, CVE-2022-33987 can be remediated by removing or updating `got`. For this project, the easiest fix is to update `tsd`, which no longer has a `got` dependency.

[code]

`tsd v0.17.0` removes dependency chain:
- `update-notifier`
- `latest-version`
- `package-json`
- `got`

[2022-06-23 01:01] joshuarrrr commented on #258
Note that this issue is blocked until we update the node dependency of this repo - `0.7.0` requires node 12: https://github.com/SamVerschueren/tsd/releases/tag/v0.17.0

[2022-07-01 02:08] #251 closed

[2022-07-01 02:10] zhaoyi0113 opened #259 "[FEATURE] Where can I find some sample about how to use bulk api to upload documents?"
I am trying to use `bulk` API to upload many documents in one request. But I keep get `Reason: request body is required"` error response. Is there any document I can see how to set the parameter correctly?

I am using below code to upload the documents.

[code]

[2022-07-01 04:41] zhaoyi0113 opened #260 "[FEATURE] How can I create an index with mapping"
I get this code from the readme about creating an index with settings. But I can't find how I can create the index with a predefined fields mapping. Is it supported by this lib?

[code]

[2022-07-01 05:23] #260 closed

[2022-07-03 03:40] rawpixel-vincent commented on #187
The example provived by the community and copy/pasted by aws engineers into their documentation doesn't refresh the credentials (token) when they expires, this will cause 4xx errors.
We're using https://github.com/yosefbs/aws-opensearch-connector for now.

Looking forward to the built-in support in the client, any ETA from aws @brijos @lizsnyder ?

[2022-07-07 03:12] rawpixel-vincent commented on #187
Hi @dblock,

we're testing https://github.com/yosefbs/aws-opensearch-connector with https://github.com/yosefbs/aws-opensearch-connector/pull/7 applied
and https://github.com/opensearch-project/opensearch-js/ with https://github.com/opensearch-project/opensearch-js/pull/254 applied

it seems to work fine so far.

[2022-07-11 09:47] Nyceane opened #261 "[PROPOSAL] Please add more examples!"
Please add more examples on all the API end points you have created, there is no documentation for this, no wiki, and just donig something as basic as inserting takes hours to search on Google...

[2022-07-11 18:41] dblock commented on #261
Would love your help contributing some content to both README in this project, and https://github.com/opensearch-project/documentation-website (https://opensearch.org/docs/latest/clients/javascript/).

[2022-07-11 19:59] moltar commented on #187
I think transport interface needs to be amended to support async.

Then use the official `@aws-sdk/signature-v4` package for signing.

[2022-07-11 21:52] dblock commented on #187
@moltar Reading through the history here looks like you know what we need to do to make the transport interface async. Short of doing it, would you mind opening a new issue and describing what you're suggesting?

[2022-07-11 23:21] rawpixel-vincent commented on #187
https://docs.aws.amazon.com/opensearch-service/latest/developerguide/request-signing.html#request-signing-node

First block, signing with aws4.

I do not have the fix, I switched to the solution I described before.

[2022-07-19 16:52] tymondragon commented on #259
@zhaoyi0113
[OpenSearch API](https://opensearch.org/docs/1.2/opensearch/rest-api/index/)
[Bulk Api](https://opensearch.org/docs/1.2/opensearch/rest-api/document-apis/bulk/)

[2022-07-20 17:57] dblock commented on #259
I think @zhaoyi0113 is looking for a working sample that uses bulk API. Anyone?

[2022-07-20 18:31] dagoodma opened #264 "Add support for security and other API requests"
I am trying to figure out how to send **security** and **saved_objects** API requests via the `/_dashboards/api/...` routes. It looks like opensearch-js does not support **_dashboards** API requests. Is there a way to form custom requests to paths not currently implemented in opensearch-js? I would like to get access to routes like: `/_dashboards/api/v1/configuration/rolesmapping`

[2022-07-20 18:54] dblock commented on #264
Hm, Dashboards is a separate product. @kavilla how do people do this?

[2022-07-22 12:15] Gowthy1 commented on #187
The documentation is now added in the Developer guide of AWS OpenSearch Service, for Node as well as other languages.
Hope this client `[aws-opensearch-connector](https://github.com/yosefbs/aws-opensearch-connector)` will work as expected as how the `[aws-elasticsearch-connector](https://github.com/compwright/aws-elasticsearch-connector#readme)` works (Since, the later `(aws-opensearch-connector)`

[2022-07-22 18:12] dagoodma commented on #264
@dblock @kavilla For anyone else trying to do this, I was able to use the Client and Transport layer to form a custom request to the dashboards API.

[code]

Where `getClient()` is my `async` function that returns a new **Client** by passing in an AWS Connector and the endpoint address.

[2022-07-22 21:30] dagoodma commented on #264
PS. Some dashboard requests may need `osd-xsrf: true` header to be accepted by the server. Note that headers can be passed into `Transport.request()` via the `options` argument:
[code]
@dblock Would it be possible to add these instructions for the opensearch dashboards API to the **Example use** section of `README.md`?

[2022-07-25 19:57] DKurilo opened #267 "[BUG] Can't use ResponseError"
### What is the bug?
OpenSearch throws `ResponseError` that is here:
[code]
and check like: `e instanceof ResponseError` throws:
[code]

### How can one reproduce the bug?
1. start new OpenSearch server (at least server with no ingest pipelnes) locally
2. use code like:
[code]
3. when no pipelines OpenSearch returns 404 with `{}` as body and it makes client throw `ResponseError` and to catch it I

[2022-07-26 20:26] AMoo-Miki commented on #267
What things work if you do this?
[code]

[2022-07-26 20:41] dblock commented on #264
@dagoodma Yes, please contribute. I think we should expand both the README and the documentation (https://opensearch.org/docs/latest/clients/javascript/) with more examples and general cleanup.

[2022-07-26 22:02] DKurilo commented on #267
@AMoo-Miki , it works! Thank you.
For some reason I didn't notice
[code]
in `index.d.ts`
We can close this ticket.

[2022-07-26 22:02] #267 closed

[2022-07-27 16:43] dblock opened #268 "[BUG] Integration tests are failing intermittently"
### What is the bug?

See https://github.com/opensearch-project/opensearch-js/runs/7454554035?check_suite_focus=true, currently failing on main.

### What is the expected behavior?

Tests to pass.

### Do you have any additional context?

Red herring in https://github.com/opensearch-project/opensearch-js/pull/266#issuecomment-1195960934

[2022-07-27 19:46] dblock opened #269 "[FEATURE] Rewrite this client in TypeScript"
### Is your feature request related to a problem?

Coming from https://github.com/opensearch-project/opensearch-js/pull/266#issuecomment-1197061005, TypeScript bindings are maintained by hand. Development in pure JS is slower, potentially more error prone.

### What solution would you like?
Rewrite the client in TypeScript, get rid of pure JS code.

[2022-07-28 14:06] clenkiu commented on #186
Is there any plan to implement this enhancement request?

[2022-07-28 17:49] dblock commented on #186
Would be great to have this, please do contribute!

Please do note that we cannot be copying code from non-APLv2 licensed sources, always confirm that you have not copied any such thing.

[2022-07-29 21:34] ekeyser commented on #259
This is what I did. It's javascript and it's quick and garbage code but maybe it'll help :-) Something about POST bulk indexes need to be separated by newlines? I'm not sure the full story behind this.

[code]

[2022-08-02 18:43] dagoodma commented on #264
@dblock Although I did get these basic sort of requests working, I was not able to handle importing of saved objects due to issues with sending multipart form data while using the AWS4 signing procedure. The opensearch API requires the file being imported to be sent as a stream and it won't accept a string or a buffer. But sending streams with the `form-data` library seems to be impossible while u

[2022-08-02 22:52] dagoodma commented on #264
Shortly after I sent that last comment, I was miraculously able to successfully get a multipart form message sent to the API using `axios`, `form-data`, `aws4-axios`, `@aws-sdk/credential-provider-node` and `concat-stream`.  For anyone else who might get stuck similarly, here's how I was able to import saved_objects:

[code]

I have abandoned using `opensearch-js` for now until full API support is

[2022-08-03 06:58] zhongnansu opened #270 "[FEATURE] Add documentation"
I see the work here #104 removes the doc folder. I wonder is there a plan to add it back? My recent work that needs me to look into this library in detail, but since there's no doc. I am still referring to the elastic-js client at 7.10. Can you confirm that 7.10 still makes sense, except the naming?
https://github.com/elastic/elasticsearch-js/blob/7.10/docs/observability.asciidoc

[2022-08-03 17:57] zhongnansu commented on #270
Oh I remember I asked this question previously. It's 7.14 that we forked from, right?

[2022-08-04 04:49] wbeckler commented on #264
@dagoodma Thank you for sharing that solution.

I'm happy to say that there are plans to fully support security in `opensearch-js` in the near term.

Would you be willing to clarify what you mean by full API support for dashboards?

[2022-08-05 05:59] kavilla commented on #270
Hey @zhongnansu, it was forked from 7.14 but has changed. I would be hesitate to set a precedent that if the documentation doesn't exist here then check the legacy repo. We should consider opening a bug in the documentation repo so that we may add it to this doc: https://opensearch.org/docs/latest/clients/javascript/

[2022-08-05 06:13] kavilla commented on #264
Sorry about the delay, this is correct. The API this issue is trying to hit is an OpenSearch Dashboards API which isn't the intention of this repo. This repo's intention is to interact with the OpenSearch cluster with APIs via JavaScript as indicated by the [README](https://github.com/opensearch-project/opensearch-js#example-use).

In this situation it seems like there's not much in the OpenSearch

[2022-08-05 06:17] kavilla commented on #268
Re-ran it and success. Indicating that these tests are flaky, but they've seem pretty consistent. So might have been a fluke are some availability issue.

[2022-08-07 16:59] dblock commented on #252
Note https://github.com/opensearch-project/opensearch-js/issues/264#issuecomment-1203289432 which has a complete example of how to do this with an interceptor with the current version.

[2022-08-07 17:12] dblock commented on #264
@dagoodma thanks for hanging on here and for your working samples!

I second what @kavilla  says below, but also thought I'd clarify a couple more things. We have separate topics here:

1. For Sigv4 signing we want first class support (not an interceptor that users have to roll out), see https://github.com/opensearch-project/opensearch-js/issues/252
2. For multipart, that works today, and for Sigv

[2022-08-09 07:00] zhaoyi0113 opened #273 "[FEATURE] support upsert api"
I am using `client.index{document}` to insert a new document on the index and use `update` API to update an existing document. Is there an API for `upsert` a document? like insert if not exist otherwise update.

[2022-08-10 14:01] dblock commented on #273
In ES this is just an [update](https://www.elastic.co/guide/en/elasticsearch/reference/7.5/docs-update.html#upserts). I would confirm that this works with OpenSearch and open a documentation issue to clarify in the OpenSearch docs.

[2022-08-10 14:33] StefanSafeguard commented on #273
It's obscure to find in the OpenSearch documentation however it is referenced on this page https://opensearch.org/docs/1.2/opensearch/index-data/ in the update section. Easiest is to ctrl+f and search for upsert on this page.

[2022-08-10 14:40] dblock commented on #273
@StefanSafeguard How do I do it from the JS client?

[2022-08-10 14:46] StefanSafeguard commented on #273
You should be able to provide a object in the `body` parameter of the params argument thats structured as followed on the `update` method of the client.

[code]

I do have to say I haven't tested this directly on the `update` call, but I use the structure above within a `bulk` call and it works like a charm.

[2022-08-10 17:19] dblock commented on #273
@zhaoyi0113 I think we can close this, but feel free to reopen/comment/suggest how we can improve any of it.

[2022-08-10 17:19] #273 closed

[2022-08-10 18:04] VachaShah commented on #258
Closed via #272

[2022-08-10 18:04] #258 closed

[2022-08-10 18:07] VachaShah opened #274 "[FEATURE] Automate and document the release process"
### Is your feature request related to a problem?
Enable any maintainer to do a release by clicking a button.

### What solution would you like?
Automation and documentation similar to https://github.com/opensearch-project/opensearch-java/blob/main/RELEASING.md#releasing.

### Do you have any additional context?
We want to release new features (more) often.

[2022-08-10 22:55] zhaoyi0113 commented on #273
I see there is a HTTP api for that but I can't make the nodejs client library work: `@opensearch-project/opensearch`.

[2022-08-12 16:56] dblock commented on #273
@zhaoyi0113 What have you tried?

[2022-08-12 20:31] dcyprianrw commented on #251
This should be in the main documentation!  I had to search issues to find it. Thanks for posting @zhaoyi0113

[2022-08-12 23:27] VachaShah opened #275 "[FEATURE] Testing compatibility on different platforms"
### Is your feature request related to a problem?
We test our clients for Linux platform but we do not know if these clients work smoothly on platforms like windows/mac etc.
Coming from https://github.com/opensearch-project/opensearch-clients/issues/18

### What solution would you like?
Test the client with most popular platforms and CPU architectures:

- x64
- ARM
- Linux
- Windows
- MacOS

[2022-08-15 17:25] dblock commented on #251
@dcyprianrw Care to open an issue in https://github.com/opensearch-project/documentation-website or here?

[2022-08-16 14:11] dcyprianrw commented on #251
@dblock I'm inexperienced at contributing here.   By opening an issue, do you mean pairing it with a PR to update the documentation as well?  I would be doing all those steps for the first time.

[2022-08-16 17:06] dblock commented on #251
If you want to update the doc, you'll be my hero. But at the very least do open an issue so we don't forget to fix this (whether you fix it yourself or not). Does this help?

[2022-08-16 19:29] dcyprianrw commented on #251
@dblock Ok, I opened issue 902 as shown above.  Probably safer for a newb like me to open an issue than offer a PR.  Hope this helps, thanks!

[2022-08-17 23:22] CCongWang opened #276 "[CVE] Upgrade `geckodriver` to `3.0.2`"
From https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1764, [CVE-2022-33987](https://github.com/advisories/GHSA-pfrx-2q88-qq97) can be remediated by removing or updating got to 11.8.5 or 12.1.0.
Upgrading `geckodriver` to `3.0.2` will fix part of the issues.
[code]

[2022-08-17 23:26] #276 closed

[2022-08-19 00:04] harshavamsi commented on #259
@zhaoyi0113

Here's a code snippet to bulk upload documents.

[code]

Will try to add some documentation in the `GETTING_STARTED` guide.

[2022-08-19 03:11] harshavamsi commented on #259
Tracked in #277

[2022-08-20 00:49] adri1wald commented on #187
From what I can tell unless you resolve a new credential promise on every request, the credentials won't actually be refreshed if they are (near) expiration using `defaultProvider` or `fromNodeProviderChain`. I wrote this auto-refreshing credential provider that refreshes the credentials every x ms. It should also be possible to omit the waitMs argument and use the expiration date to determine dyn

[2022-08-22 18:56] harshavamsi commented on #259
@wbeckler @VachaShah I believe safe to close this one.

[2022-08-22 20:47] harshavamsi commented on #205
@wbeckler @VachaShah looks good to close.

[2022-08-24 03:54] #259 closed

[2022-08-25 13:50] dblock commented on #187
Thanks @adri1wald, this is a great point. I see a lot of bugs where clients get instantiated, work for a while, then start failing after a refresh period.

We're still looking for a PR that would implement this feature as a 1st class citizen in the library. Appreciate if anyone could give it a stab!

[2022-08-25 18:34] elimumford commented on #204
This issue get's even worse with TS 4.7+ and ESM as it only supports the `exports` tree when present.

Simply adding `types` to the `exports` tree solves a lot of issues... and will not break anything.  2.0.1 please...

[code]

I've written post install scripts to monkey patch the package.json in my node_modules so I can keep my sanity.

[2022-08-26 03:24] wbeckler commented on #204
This makes sense. Would you be willing to draft a PR?

[2022-08-29 06:32] 52cs opened #285 "Socket hang up"
Socket hang up when using with opensearch:2.2.0 but elasticsearch works OK

[code]

[code]

[2022-08-29 15:30] dblock commented on #285
I see a `400 The plain HTTP request was sent to HTTPS port` which tells me that somewhere you have SSL configured (OpenSearch?) whereas it wasn't before (with ES?)

I see a bunch of requests in the above to looker.com which doesn't seem related.

Neither of those is the error from the OpenSearch connection, care to try and add more information on what changed?

[2022-08-29 20:31] dblock opened #288 "[FEATURE] Avoid vendor-specific awsv4 library as a dependency"
### Is your feature request related to a problem?

In https://github.com/opensearch-project/opensearch-js/pull/279 we have added a vendor-specific, `aws4` library as a dependency. By design we avoid vendor-specific code to not advantage any one vendor one way or another.

### What solution would you like?
A way to make that dependency optional or potentially splitting `opensearch-js` into `opensea

[2022-08-29 21:53] 52cs commented on #285
@dblock
Thanks for your reply!
Sorry for the confusion.

Please pay attention to the first error, the second error is related to `axios` behind `proxy`, I will develop a tool to get rid of it in the future.

Here is some code snip to help you better understand the errors.

[code]

[code]

[code]

The error is coming from this line, the first execution line of opensearch which complain that `socket

[2022-08-30 02:56] harshavamsi commented on #288
@dblock  I can take a stab at this.

From my understanding, `optionalDependencies` exist in npm but don't work in this use case because we would need to somehow pull in the dependency if a user requests to use the signer. It merely allows us to check if the dependency is installed and proceed without if not.

We would just need to create a separate package that we can import if needed.

Essentiall

[2022-08-31 09:30] rawpixel-vincent commented on #187
I didn't get any notifications about the PR for this feature, mentioning it to get feedback for more people interested to this issue.
please comment on #279

[2022-09-01 15:51] dblock commented on #285
What version of the server are you talking to? Any errors on the server? Can we see the logged out HTTP request/response?

[2022-09-01 15:53] dblock commented on #288
@harshavamsi Thanks

1. I like your plan.
2. At least in https://github.com/opensearch-project/opensearch-java the dependencies are optional and you don't need to always drag them unless you want to do SigV4.
3. Please do open a meta issue and if you see a client that doesn't do this, let's fix!

[2022-09-01 23:52] 52cs commented on #285
server version: opensearchproject/opensearch:2.2.0
client side config: (no config for SSL)
[code]

api call which triggers the error: (this is the first api call, opensearch should use a lazy connection)
[code]

server side error: (seems SSL related error, but there is no error when using elasticsearch client with the same setting)
[code]

client side error:
[code]

Re-paste the client side error

[2022-09-02 18:48] rochdev commented on #285
I'm getting the same error. Even a simple `client.ping()` results in a `socket hang up` error when the exact same code works perfectly with Elasticsearch as the server. In both cases the image from Docker Hub is used in single node mode.

Reproduction:

##### docker-compose.yml
[code]

##### test.js
[code]

I tried using an older version of OpenSearch and got the same result.

[2022-09-02 22:32] 52cs commented on #285
My `docker-compose.yml`:

[code]

[2022-09-05 15:58] dblock commented on #285
I think I know where this confusion comes from. Opensearch has SSL enabled by default using self-signed certificates, unlike Elasticsearch that doesn’t include SSL by default.

If you look at the output of `docker-compose up` with the above file you'll see this:

[code]

... and then

[code]

Then `curl --insecure -uadmin:admin -v https://localhost:9200` will work, but not `curl -uadmin:admin -v h

[2022-09-05 15:59] #253 closed

[2022-09-05 21:09] 52cs commented on #285
Problem has been solved.  I should read docs and source code example/test
cases carefully.
Just curious, why opensearch enable SSL by default? Seems that there is no
way to turn it off from JavaScript client side, aka, opensearch-js

On Mon, Sep 5, 2022, 11:58 PM Daniel (dB.) Doubrovkine <
***@***.***> wrote:

[2022-09-05 22:57] PatrykMilewski commented on #270
Bump, it would make use of this lib way easier, instead of jumping back to the web docs

[2022-09-06 14:48] dblock commented on #285
Enabling SSL is part of a strategy to make OpenSearch secure by default to avoid things like https://www.techrepublic.com/article/thousands-of-unprotected-elasticsearch-databases-are-being-ransomed/. See https://github.com/opensearch-project/OpenSearch/issues/2095 for details. If you want to disable SSL on the server, you can by removing the security configuration. Client then will work just fine

[2022-09-06 14:48] #285 closed

[2022-09-06 14:51] dblock commented on #270
@PatrykMilewski care to contribute?

[2022-09-06 19:02] 52cs commented on #285
Hmm...
It is the official docker image of open search:2.2.0 includes the SSL
configuration by default. It is not easy to disable SSL by not modifying
the docker image. I will dig into it if necessary.

On Tue, Sep 6, 2022, 10:49 PM Daniel (dB.) Doubrovkine <
***@***.***> wrote:

[2022-09-06 19:13] dblock commented on #285
Yes, you're right. The `-min` distribution doesn't have any configuration, so you can build up from there. But I really don't think anyone should be running any services without SSL enabled. What's your scenario?

[2022-09-06 22:19] 52cs commented on #285
I'm a fresh. Just use it for local development. And not familiar with SSL.
Any material of SSL recommend for a starter?

On Wed, Sep 7, 2022, 3:13 AM Daniel (dB.) Doubrovkine <
***@***.***> wrote:

[2022-09-07 15:51] dblock commented on #285
No specific recommendations on SSL, but even for local development I think it's pretty easy to just have it enabled. Good habits.

[2022-09-07 15:55] #252 closed

[2022-09-07 15:58] dblock opened #290 "[FEATURE] Default getCredentials for AWS Sigv4 Signer"
### Is your feature request related to a problem?

In https://github.com/opensearch-project/opensearch-js/pull/279 we introduced Sigv4 signing. To use this one must decide which version of AWS SDK to import, then implement different ways to get credentials depending on the version.

### What solution would you like?

A version-agonostic default implementation. I want to be able to write the follow

[2022-09-07 18:22] mmtdm opened #291 "[BUG] Connection headers mutability and unintended reuse of headers"
### What is the bug?
[Connection.js headers property](https://github.com/opensearch-project/opensearch-js/blob/main/lib/Connection.js#L221) is reused over multiple requests, and due to mutability of headers, this can cause unwanted headers to be sent with subsequent requests.

### How can one reproduce the bug?
Using opensearch-project/opensearch with aws-opensearch-connector, call search repeated

[2022-09-07 19:02] harshavamsi commented on #291
Hi, @mmtdm opensearch-js now supports [sigv4 authentication]( https://github.com/opensearch-project/opensearch-js/blob/main/USER_GUIDE.md#using-aws-v3-sdk) support out of the box. We've enhanced the implementation over how requests are made over the transport layer and this takes into consideration credentials expiring. Can you give this a try and let us know if this helps your case?

[2022-09-07 19:31] mmtdm commented on #291
Thank you kindly @harshavamsi I will try your recommendation and report on my findings.

But I humbly request your opinion about whether or not there is any merit to my findings. It seems as though opensearch is [initializing request.headers by reference from Connection.headers](https://github.com/opensearch-project/opensearch-js/blob/main/lib/Connection.js#L221), and anything done to request.head

[2022-09-07 20:13] dblock commented on #291
I think this is a valid bug as long as headers are manipulated in the library code. @mmtdm want to submit a fix?

I would do a bit of internet searching to see if other HTTP libraries have this problem.

[2022-09-07 22:18] mmtdm commented on #291
Thank you @dblock I will submit a proposed fix shortly

[2022-09-08 01:57] harshavamsi opened #293 "[FEATURE] Automate bumping versions after releases"
### Is your feature request related to a problem?
Coming from https://github.com/opensearch-project/opensearch-clients/issues/34. The version should be bumped each time a release is made so that builds happen for new changes with appropriate versioning.

### What solution would you like?
Implement workflow similar to https://github.com/opensearch-project/OpenSearch/blob/main/.github/workflows/vers

[2022-09-12 19:18] wbeckler commented on #187
I'm closing this as per the last comment unless there are objections.

[2022-09-14 03:05] Xtansia opened #298 "[FEATURE] Standardize, setup, report, and increase test coverage"
Setup code coverage, once reporting from CI/CD analyze the test gap and fill it.

See the meta issue https://github.com/opensearch-project/opensearch-clients/issues/30 for details.

[2022-09-16 14:45] Tomas2D commented on #204
+1

[2022-09-27 07:27] innoneo-rahulkrishnan opened #300 "[BUG] ConfigurationError: Missing required parameter: body"
### What is the bug?
I am getting an error `ConfigurationError: Missing required parameter: body` when trying to add a document to an index.

### How can one reproduce the bug?
I am trying to index a mongodb document.

`{
  clientId: [ { linkedIn: 'abcd' } ],
  loginType: [ 'efgh' ],
  status: 'logged_in',
  isSecurePassword: true,
  isMock: false,
  isCreatedByAdmin: false,
  firstName: 'Rahul',

[2022-09-27 12:52] #300 closed

[2022-09-27 19:37] dblock commented on #300
@innoneo-rahulkrishnan What was your fix?

[2022-09-27 22:37] nhtruong commented on #241
I'm going to look into this.

[2022-09-28 10:56] rawpixel-vincent commented on #187
any plan to release this? @dblock

[2022-09-29 17:20] dblock opened #303 "[FEATURE] Release v. Next"
### Is your feature request related to a problem?

Coming from https://github.com/opensearch-project/opensearch-js/issues/187#issuecomment-1260735471.

### What solution would you like?

Release v. Next.

### Do you have any additional context?

Please add your +1 if you need a release.

[2022-09-29 17:21] dblock commented on #187
We should release quickly. I heard there are some automation things @VachaShah and @gaiksaya would like to drive here before we do more "manual" releases, but I don't think that should stop us?

I opened https://github.com/opensearch-project/opensearch-js/issues/303, add your +1.

[2022-09-29 17:34] dragosmc commented on #303
I see the documentation has been updated with examples containing functionality that wasn't released yet (namely the AWS Sigv4 signer) - I'd have thought that everything that's on "main" is released. Would it make more sense to use a different branching strategy to avoid such issues in the future?

[2022-09-29 17:47] dblock commented on #303
@dragosmc That's really an issue for the documentation, you should open one saying something was documented that wasn't released. I'd expect extreme clarity on http://opensearch.org/ about what version's documentation one is reading.

[2022-09-29 17:53] #241 closed

[2022-09-29 17:55] dragosmc commented on #303
I don't know if it's visible on the opensearch.org website, but I came here looking for how to do sigv4 and stumbled across this page https://github.com/opensearch-project/opensearch-js/blob/main/USER_GUIDE.md#using-aws-v2-sdk that's referenced from the readme on "main" branch.

[2022-09-29 17:58] dblock commented on #303
That's expected, the documentation on `main` is for `main`.

[2022-09-30 21:44] #290 closed

[2022-10-03 19:45] nhtruong commented on #268
I've successfully recreated this error on my local env!
Since all flaky workflows run integration tests, my focus were on the 4 integration helper tests. All of these tests read from `stackoverflow.ndjson` as a stream, which is similar to [this issue on node-tap repo](https://github.com/tapjs/node-tap/issues/422). Intentionally making the stream fail (like giving it a wrong path) will result in id

[2022-10-03 22:44] nhtruong commented on #268
It is actually the OS Instance in the container that caused this issue, even though an error in the file stream will throw the exact same timeout/no-tests error. Configurations that failed had the following printout from the container's logs:
[code]
[code]

[2022-10-04 12:32] nhtruong commented on #268
Those "Killing process" messages came from [opensearch-build ](https://github.com/opensearch-project/opensearch-build/blob/4597d77956a8d70905e03d135618de0ae912b316/docker/release/config/opensearch/opensearch-docker-entrypoint.sh#L59-L64)repo. It's most likely that said script encountered an error and trigger the [trap](https://github.com/opensearch-project/opensearch-build/blob/4597d77956a8d70905e

[2022-10-11 21:27] #268 closed

[2022-10-12 06:51] Kyeong1024 commented on #290
you guys make @opensearch-project/opensearch/aws theseday. But when I install module lik this `npm i @opensearch-project/opensearch`.
I CANNOT find aws folder at node_modules. please fix this issue.
thank you.

[2022-10-12 15:35] wbeckler commented on #290
@Kyeong1024 Can you start a new issue with your request? (https://github.com/opensearch-project/opensearch-js/issues/new/choose)

[2022-10-25 16:08] #291 closed

[2022-10-26 16:34] nhtruong commented on #188
Closing this.
@jsinai If the healper feature mentioned about does not fulfill your need, feel free to create a new issue or reopen this one. Thank you.

[2022-10-26 16:34] #188 closed

[2022-10-28 13:20] rpivo opened #316 "[FEATURE] Batch Write"
I was surprised to see this feature is not documented (or not implemented)

[2022-11-01 11:22] dblock commented on #316
Please contribute!

[2022-11-07 20:55] jeff-pal commented on #231
Hi @huuyafwww can you pls clarify the reason of that error?

[2022-11-11 20:14] e10jc commented on #204
Just wanted to share this, in case anyone wants to use it:
[code]

[2022-11-12 11:30] giusecagliari opened #327 "[BUG]"
### What is the bug?
_module v8 not found when call Client

### How can one reproduce the bug?
yarn start

### What is the expected behavior?
_client connection not working

### What is your host/environment?
_ubuntu x64

### Do you have any screenshots?
_If applicable, add screenshots to help explain your problem._

### Do you have any additional context?
ERROR in /home/giuseppe/git/OpenSearch-Da

[2022-11-15 09:49] Gtofig opened #329 "[FEATURE] Add support for Security plugin APIs"
### Is your feature request related to a problem?
I want to configure OpenSearch Fine-Grained Access Control settings, by calling security plugin APIs, but the client currently does not support it.

### What solution would you like?
Add security plugin APIs to the client

### What alternatives have you considered?
The only alternative I can think of now is to send custom request directly to OpenSe

[2022-11-15 19:23] dblock commented on #204
@e10jc Care to PR a fix here?

[2022-11-15 19:25] dblock commented on #327
What is your version of node.js?

[2022-11-16 00:13] bwg opened #330 "[FEATURE] Alllow overriding the aws service identifier in AwsSigv4Signer"
### Is your feature request related to a problem?
Currently the service identifier is hard coded to `es` with no way to override.

https://github.com/opensearch-project/opensearch-js/blob/2.1/lib/aws/AwsSigv4Signer.js#L73

### What solution would you like?
Allow overriding the default with a user provided value from opts
[code]

### What alternatives have you considered?
rolling our own signing fu

[2022-11-16 13:57] Prophet32j commented on #187
@dblock @wbeckler any reason this is still open? Looks like everything is merged and available in `2.1.x`

[2022-11-16 15:17] wbeckler commented on #187
This is released. Closing

[2022-11-16 15:17] #187 closed

[2022-11-16 15:21] wbeckler commented on #303
@nhtruong Have the above steps been taken and can we close this?

[2022-11-16 23:32] mnj95 commented on #327
Experiencing the same issue in React.
[code]

[2022-11-17 06:27] wbeckler commented on #327
This looks like an error in running the dashboard. Is that right?

[2022-11-17 06:48] wbeckler commented on #329
I think this is a worthwhile endeavor. Do you have any suggestions as to
what would be a good interface?

On Tue, Nov 15, 2022 at 1:49 AM Gtofig ***@***.***> wrote:

[2022-11-17 07:26] kavilla commented on #327
I think @dblock question is probably the key. The v8 module was included when adding the circuit breaker stuff: https://github.com/opensearch-project/opensearch-js/pull/207/files

[2022-11-17 10:25] auriga1 opened #331 "I can't escape special characters"
Hi everyone,
I can't understand how to escape dash when I send the query to opensearch.
I'm using this structure to search on every field in my index:

[code]

and everything works fine.
But when I add a dash to the date (2022-), no items are found.
I tried with "2022\\-" but it still doesn't work.

Can you tell me what is the correct way to escape special chars?

[2022-11-17 14:00] Gtofig commented on #329
Perhaps something like `client.security_plugin.roles.<api_name>`?

All the APIs are defined [here](https://opensearch.org/docs/2.4/security-plugin/access-control/api)

Example:
[code]

[2022-11-17 17:21] wbeckler commented on #331
I think the best place for a question like this would be the OpenSearch forum: https://forum.opensearch.org/
If you post here, you'll target the js topic area: https://forum.opensearch.org/tags/c/clients/60/opensearch-js

[2022-11-17 17:21] #331 closed

[2022-11-17 17:21] wbeckler commented on #330
This makes sense. Feel free to contribute a PR.

[2022-11-18 04:59] R-Bower opened #332 "[PROPOSAL] Add SearchResponse Aggregations Generic Type"
The node client for `@elastic/elasticsearch` provides the user with an option for defining the aggregation type in the response.

[code]

There is no equivalent generic stub in the OpenSearch TypeScript definition.

https://github.com/opensearch-project/opensearch-js/blob/main/api/types.d.ts#L995

Can this generic be added?

[2022-11-21 17:36] nhtruong commented on #332
Thank you for bringing this to our attention. Feel free to create a PR if you haven't seen anyone assigned to this issue this.

[2022-11-21 18:03] nhtruong opened #335 "[Documentation] API methods"
We're adding documentation to this repo via jsdoc. This issue will keep track of the progress for API methods.

- [x] bulk
- [x] cat
- [x] clear_scroll
- [x] cluster
- [x] count
- [x] create
- [x] dangling_indices
- [x] delete
- [x] delete_by_query
- [x] delete_by_query_rethrottle
- [x] delete_script
- [x] exists
- [x] exists_source
- [x] explain
- [x] features
- [x] field_caps
- [x] get
- [x] get

[2022-11-23 19:59] wbeckler commented on #186
The SAML implementation of the OpenSearch security plugin, as far as I can tell from the [docs](https://opensearch.org/docs/latest/security-plugin/configuration/saml/), does not support backend authentication. It only does browser-based. Therefore this feature would not work on the node.js client.

I will close this unless there are objections. If you need the feature, please request it here: http

[2022-11-24 22:30] akleiber commented on #187
Just for reference - here is described how you use it now: https://github.com/opensearch-project/opensearch-js/blob/2.1.0/USER_GUIDE.md#using-aws-v3-sdk

[2022-11-25 15:03] leonardbinet opened #338 "[BUG] incomplete typing for `SearchRequest.sort`"
### What is the bug?
Wrong typing for `sort` options of `SearchRequest` `api/types.d.ts`: https://github.com/opensearch-project/opensearch-js/blob/main/api/types.d.ts#L959

The library type is:
[code]

Whereas actual type is broader: cf https://opensearch.org/docs/2.4/opensearch/search/sort/
example in documentation is:
[code]

Note for inspiration: elasticsearch-js types: https://github.com/elast

[2022-11-27 10:14] auriga1 commented on #331
you're right, sorry.